<DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="styles1.css"/>
<style type="text/css">
    
    body{
        margin-top:8pt;
        background-color: #ffffff;
    }
    a{
        text-decoration:none;
        color:black;
    }
    p
    {
        font-family: Verdana, Garamond;
        font-size:12pt;
    }
    table{
        font-family: Verdana, Garamond;
        font-size:10pt;
        border-color:#6d6f7b;
        border-style: double;
    }
    th{
        background-color: #6d6f7b;
        color:white;
        text-align:left;
    }
    caption{
        font-size:8pt;
        font-style:Italic;
    }

    
    
    </style>
</head>
</html>

